    * {
      /* Eliminate browser-specific margin and padding default values: */
      margin: 0;
      padding: 0;
      /* Make margin and padding width/height sizes more straightforward than content-box: */
      box-sizing: border-box;
    }

body {
  font-family: 'Zilla Slab', "Times New Roman", Times, serif;
  width: 90%;
  margin: auto;
  font-size: 117%;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  background-color: #6FA2FF;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 110%;
}

article {
  background-color: lightgoldenrodyellow;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.7rem;
  padding-left: 1rem;
}

footer {
  background-color: #6FA2FF;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  text-align: center;
  font-size: 90%;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 150%;
}

h2 {
  margin-top: 1.3rem;
  margin-bottom: 0.9rem;
  font-size: 125%;
}

h3 {
  margin-top: 1.3rem;
  margin-bottom: 0.9rem;
  font-size: 105%;
}

p {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}



li.level1 {
  padding-top: 1.2rem;
  font-weight: bold;
}

li {
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  line-height: 100%;
}


img {
  display: block;
  margin: auto;
}
