    * {
      /* Eliminate browser-specific margin and padding default values: */
      margin: 0;
      padding: 0;
      /* Make margin and padding width/height sizes more straightforward than content-box: */
      box-sizing: border-box;
    }

header {
  background-color: lightcoral;
}

nav {
  background-color: lightblue;
}

footer {
  background-color: lightgreen;
}

article {
  background-color: lightgoldenrodyellow;
}

aside {
  background-color: lightgray;
}

section {
  background-color: paleturquoise;
}

h1 {
  
}

